.product{
    height: 300px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */

background-color: #f6f6f6;
box-shadow: 3px 5px 5px #e0e0e0,
-2px 0px 10px rgb(241, 241, 241);
}
.product__image{
    height: 60%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.product__image img{
     max-width: 100%; 
    height: 100%; 
    object-fit: contain;
}
.product__body{
    padding-left: .5rem;
    margin: 1rem 0;
    
}
.product__body h3{
    font-size: 1rem;
    color: #333;
    margin-bottom: 3px;
}
.product__body span{
    color: tomato;
    font-weight: bold;
}
.product__footer{
    display: flex;
    justify-content: space-between;
    padding: 0 .6rem;
    align-items: center;
    
}

.product__footer a {
    /* text-decoration: none; */
    color: #2b56e2;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    border-bottom:2px dotted #2b56e2;
}
.addBtn{
    border: none;
    background-color: #3c66f3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    
    cursor: pointer;
}
.incBtn{
    border: none;
    background-color: #2b56e2;
    color: #fff;
    
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding:0 15px 5px 15px ;
    vertical-align: middle;
    cursor: pointer;
}
.decBtn{
    /* border: none; */
    border:1px solid #2b56e2;
    color: #2b56e2;
    background-color: transparent;
    border-radius:3px;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 16px;
    vertical-align: middle;
    padding:0 5px 5px 5px ;
    cursor: pointer;
}
.remBtn{
    border:1px solid rgb(255, 89, 59);
    background-color: transparent;
    border-radius:3px;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 10px;    
    padding:2px 3px 2px 3px ;
    vertical-align: middle;
    cursor: pointer;

}
.product__footer .counter {
    color:#264ac2 ;
    font-weight: bold;
    margin: 0 5px;
}
@media screen and (max-width:600px) {
    .product{
        height: 430px;
    }
    .product__footer{
        flex-direction: column;
    }
    .footer__btns{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .addBtn {
        width: 100%;
    }
    .incBtn{
        width: 80%;
        
    }
    .remBtn , .decBtn{
        width: 15%;
    }
    .product__footer .counter{
        font-size: 1.5rem;
    }
    .product__footer a {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
}